@import "/src/styles";

.carouselRenderer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;

  .prevButton {
    position: absolute;
    top: 197px;
    left: -22px;
    @include buttonOpacity;
    z-index: 100;
  }

  .nextButton {
    position: absolute;
    top: 197px;
    right: -22px;
    @include buttonOpacity;
    z-index: 100;
  }
}
