@import "/src/styles";

.default {
  width: fit-content;
  padding: 13px 20px;
  border-radius: 22px;
  text-decoration: none;
  color: $white01;
  border: 4px solid $pink01;
  transition: 0.1s linear;

  &:hover {
    background-color: $pink01;
  }

  &:active {
    border: 4px solid $pink02;
    background-color: $pink02;
  }
}
