@import "/src/styles";

.genreList {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;

  .genreHeader {
    display: flex;
    gap: 10px;
    align-items: center;
    @include buttonOpacity;

    .headerTitle {
      font-size: 32px;
      line-height: 36px;
      text-decoration: none;
      color: $white01;
    }
  }
}
