@import "/src/styles";

.franchises {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  font-size: 32px;
  line-height: 36px;
  text-decoration: none;
  color: $white01;
}

.collapse {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  height: 31px;
  width: fit-content;
  cursor: pointer;
  .icon {
    height: 22px;
    width: 22px;
    transition: 0.1s linear;
    transform: rotate(90deg);
  }

  .isCollapsed {
    transform: rotate(0deg);
  }
}

.hidden {
  display: none;
}
