.tabsWrapper {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;


  .tabs {
    display: flex;
    gap: 40px;
  }

  .tabContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}