@import "/src/styles";

.content {
  margin-top: 100px;

  .header {
    display: flex;
    align-items: flex-start;
    gap: 66px;

    .poster {
      width: 525px;
      height: 557px;
      object-fit: cover;
      border-radius: 30px;
    }

    .about {
      width: 702px;

      .aboutHeader {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 17px;

        .title {
          max-width: 636px;
          font-size: 40px;
          line-height: 44px;
        }

        .icon {
          width: 50px;
          height: 45px;
        }
      }

      .description {
        font-size: 24px;
        line-height: 28px;
      }

      .aboutFooter {
        margin-top: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .tags {
          display: flex;
          gap: 15px;
          flex-wrap: wrap;
          width: calc(100% - 150px);
        }

        .year {
          color: $gray02;
          font-size: 24px;
          line-height: 36px;
        }
      }
    }
  }
}
